version: '3.8'

services:
  backend:
    build:
      context: ./tech-int3-server
    container_name: avito-backend
    ports:
      - "3001:3000"
    environment:
      - PORT=3000
      - NODE_ENV=production
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    container_name: avito-frontend
    ports:
      - "3000:3000"
    environment:
      - VITE_API_URL=http://localhost:3001
    depends_on:
      - backend
    restart: unless-stopped